<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'create new table', new_user_table_path(@user) %>

<% @user.tables.each do |table| %>
  <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
      </div>
      <div class="card-header">
        <%= table.name %>
      </div>
      <div class="card-copy">
        <% table.table_tabs.each do |tab| %>
          <%= tab.location %>
          <%= tab.paid_by %>
          <%= tab.date.to_date %><br>
        <% end %>
      </div>
      <div class="card-stats">
        <%= link_to 'create new tab for this table', new_table_table_tab_path(table) %>
      </div>
    </div>
  </div>
<% end %>
